node_modules
dist
dist-ssr
*.log
*.local

.vscode/
.idea/
.DS_Store

backend/.env
backend/node_modules
backend/uploads

ai-app/.env
ai-app/node_modules
ai-app/dist

backend-deploy.zip
backend.zip
dist-deploy.zip
